<ion-content padding class="style-grid">

  
    <ion-grid class="padding-row">

      <ion-row>
        <ion-col style="text-align: center;">
          <ion-item lines="none">
            <ion-input  class="row-style" type="text" Placeholder="Username">
              <ion-icon style="float: left;color: black;font-size: large;margin-left: 10px;" name="person-outline"></ion-icon>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <ion-item lines="none">
            <ion-input class="row-style" type="password" Placeholder="Password">
              <ion-icon style="float: left;color: black;font-size: large;margin-left: 10px;" name="lock-closed-outline"></ion-icon>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none" style="margin-left: 10px;font-size: 15px;">
            <ion-label>Remember Me</ion-label>
            <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item lines="none" style="font-size: 15px;">
            <a  href="#">Forget Password?</a>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col>
          <ion-button class="signin-sty" expand="block" shape="round" fill="outline">Login</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="label-line">

        <ion-label>Continue With</ion-label>
        <div style="padding:10px;"></div>

        <div class="logo-style">
          <span><ion-icon class="fb-sty" name="logo-facebook"></ion-icon></span>

          <span><ion-icon class="google-sty" name="logo-google"></ion-icon></span>

          <span><ion-icon class="tw-sty" name="logo-twitter"></ion-icon></span>
          
          <span><ion-icon class="linked-sty" name="logo-linkedin"></ion-icon></span>
         
        </div>

      </ion-row>

    </ion-grid>

  
</ion-content>