<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-title>Add Photos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
          <ion-card-footer>
            
           <span><ion-icon name="create" ng-click="edit(item)" class="logo"></ion-icon></span>
              
           <span><ion-icon name="share" ng-click="share(item)" class="logo"></ion-icon></span>
             
            <span><ion-icon name="trash" ng-click="delItem(item)" class="logo"></ion-icon></span>
           
          </ion-card-footer>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
          
          <ion-card-footer>
            
            <span><ion-icon name="create" ng-click="edit(item)" class="logo"></ion-icon></span>
               
            <span><ion-icon name="share" ng-click="share(item)" class="logo"></ion-icon></span>
              
             <span><ion-icon name="trash" ng-click="delItem(item)" class="logo"></ion-icon></span>
            
           </ion-card-footer>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
          <ion-card-footer>
            
            <span><ion-icon name="create" ng-click="edit(item)" class="logo"></ion-icon></span>
               
            <span><ion-icon name="share" ng-click="share(item)" class="logo"></ion-icon></span>
              
             <span><ion-icon name="trash" ng-click="delItem(item)" class="logo"></ion-icon></span>
            
           </ion-card-footer>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
         
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
          <ion-card-footer>
            
            <span><ion-icon name="create" ng-click="edit(item)" class="logo"></ion-icon></span>
               
            <span><ion-icon name="share" ng-click="share(item)" class="logo"></ion-icon></span>
              
             <span><ion-icon name="trash" ng-click="delItem(item)" class="logo"></ion-icon></span>
            
           </ion-card-footer>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <span><img src="./../../../assets/img/add1.png"></span>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
         
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  
  <ion-card>
    <ion-item lines="none">
      <ion-label>Smart Photos</ion-label>
      <ion-toggle [(ngModel)]="smart_photos" color="danger" slot="end"></ion-toggle>
    </ion-item>
  </ion-card>

</ion-content>