
    // ion-col {
     
     
    //   height: 100px;
    //   width: 70px;
    // //   padding: 5px;
    // }
  .logo{
      height: 20px;
      width: 22px;
      padding: 2px;
      color: #080808;
  }
   