<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-title>OTP Verification</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="acc-rec-no">
    <ion-grid class="btn-sty">
      <ion-row>
          <ion-label style="font-weight: bold;font-size: 18px;color: black;text-align: center;padding: 10px;">Enter OTP here</ion-label><br><br>
      </ion-row>

      <ion-row>
        
      </ion-row>
    </ion-grid>
  </div>

</ion-content>